[submodule "plugins/tpm"]
	path = plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "plugins/tmux-chameleon"]
	path = plugins/tmux-chameleon
	url = git@github.com:toddky/tmux-chameleon.git
[submodule "plugins/tmux-picker"]
	path = plugins/tmux-picker
	url = git@github.com:toddyamakawa/tmux-picker.git
[submodule "plugins/tmux-prefixless"]
	path = plugins/tmux-prefixless
	url = git@github.com:toddky/tmux-prefixless.git
[submodule "plugins/tmux-scratchpad"]
	path = plugins/tmux-scratchpad
	url = git@github.com:toddyamakawa/tmux-scratchpad.git
